@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

$primary : #103254;
$secondary : #d0112b;

$font: 'Poppins', sans-serif;
$title : 'Audiowide', cursive;

$phone: 440px;
$tablet: 768px;
$desktop: 980px;
$large: 1400px;    
